::ng-deep{

  .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0;
    overflow: hidden;
    padding: 0;
    background: #0d0234;
    /* background: rgb(56,47,122); */
    background: linear-gradient(
        83deg, rgb(0 0 0) 0%, rgb(17 13 48) 8%, rgb(24 11 68) 34%, rgba(29,14,83,1) 94%, rgb(27 19 54) 100%);
  }

  .mat-horizontal-stepper-header{
    pointer-events: none !important;
    display: none !important;
  }

.homeWrapper{
  mat-horizontal-stepper{
    background: transparent;

    .stepWrapper{
        max-width: 2000px;
      min-width: 1200px;

      .timerWrapper{
        margin-bottom: 40px;
        .mat-progress-spinner circle, .mat-spinner circle {
          stroke: #3fb53f;
        }

        .valueWrapper{
          position: relative;
          width: 1px;
          height: 1px;

          span{
            color: white;
            font-size: 66px;
            font-weight: 300;
            position: absolute;
            top: 25px;
            left: 18px;
            width: 90px;
            height: 90px;
            text-align: center;
            letter-spacing: -4px;
            line-height: normal;
          }
        }

        .spinner-border{
          width: 130px;
          height: 130px;
          color: #dc3545!important;
          -webkit-box-shadow:0px 0px 32px 0px rgba(255,255,255,0.59);
          -moz-box-shadow: 0px 0px 32px 0px rgba(255,255,255,0.59);
          box-shadow: 0px 0px 32px 0px rgba(255,255,255,0.59);
          border-width: thick;

        }

      }

      .questionWrapper{
        .questionInner {
          position: relative;
          background: black;
          color: white;
          padding: 0;
          border: solid 3px #7e798d;
          min-height: 126px;
          margin: 20px 0;
          width: 90%;
          margin: 0 auto;
          margin: 0 auto;
          line-height: normal;
          text-align: left;
          padding: 10px 0;


          .arrow-right {
            background:url('../../../assets/img/backArrow.png' ) no-repeat center;
            width: 88px;
            height: 158px;
            right: 0;
            position: relative;
            z-index: 0;
            background-position: -102px 17px;
            right: 0;
            float: right;
            right: -78px;
            bottom: 40px;

          }

          .arrow-left {
            background:url('../../../assets/img/backArrow.png' ) no-repeat center;

            width: 88px;
            height: 153px;
            right: 0;
            position: absolute;
            z-index: 0;
            background-position: -3px 17px;
            right: 0;
            float: left;
            left: -80px;
            bottom: -5px;

          }

          span{
            font-size: 34px;
            font-weight: 300;
            position: relative;
            top: 10px;
            display: block;
            text-align: center;
          }
        }
      }

      .mainWrapper{


        position: relative;

        .answerInner{
          position: relative;
          background: black;
          color: white;
          padding: 10px 0;
          border: solid 3px #7e798d;
          height: 126px;
          margin: 10px 0;
          cursor: pointer;
          width: 78%;
          margin: 20px auto;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: normal;
          left: 0px;

          .arrow-right {
            background:url('../../../assets/img/backArrow.png' ) no-repeat center;
            width: 88px;
            height: 153px;
            right: 0;
            position: absolute;
            z-index: 0;
            background-position: -102px 17px;
            right: 0;
            float: right;
            right: -77px;
            bottom: -3px;
          }

          .arrow-left {
            background:url('../../../assets/img/backArrow.png' ) no-repeat center;
            width: 88px;
            height: 151px;
            right: 0;
            position: absolute;
            z-index: 0;
            background-position: -3px 17px;
            right: 0;
            float: left;
            left: -79px;
            bottom: -2px;
          }

          span{
            font-size: 24px;
            font-weight: 300;

            &.alphaBetSign{
              font-size: 60px;
              font-weight: 500;

              position: relative;
              width:80px
            }

            &.questionText{
              max-width: 350px;
              word-break: break-word;
            }
          }
        }
      }

      .answersWrapper{
          table{
            background: white;
          }
      }

     }
   }
  }
}
